/* login--------------------------------------------------------------- */
/* 
.imagen {
  height: 50%;
} */
.form-control {
  border: none;
  border-radius: 40px;
}
input {
  border: none;
  font-family: "Roboto", sans-serif;
}
label {
  padding-left: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
}
.buttonLogin {
  margin-top: 6rem;
  background-color: rgb(179, 146, 27);

  border: none;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border-radius: 2rem;
}
.body {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  position: relative;
  width: 720px;
  height: auto;
  margin: 20px auto;
  border: 1px solid #dddd;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* .imagen {
  height: 50%;
} */
.box-2 {
  /* padding: 10px; */
  background-color: rgb(146, 197, 211);
}
/* .box-1,
.box-2 {
  width: 50%;
} */
.text-muted {
  font-size: 14px;
}

@media (max-width: 767px) {
  body {
    padding: 10px;
  }
  .body {
    width: 100%;
    height: 100%;
  }
  .box-1 {
    width: 100%;
  }
  .box-2 {
    width: 100%;
    height: 440px;
  }
}
.img-login {
  /* opacity: 1; */
  border-top-left-radius: 15px;
  border-end-start-radius: 15px;
  height: 500px;
  width: 400px;
  margin: 0;
  padding: 0;
  /* z-index: 1; */
}

.container .imagen-fondo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}
