.contenedor-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}
.contenedor-card:hover {
  transform: scale(1.01);
  transition: 0.5s ease;
}

.allbooks-img {
  border-radius: 8px;
  width: 220px;
  height: 300px;
  box-shadow: 0px 0px 16px #000000c0;
  object-fit: cover;
  margin: 16px;
}
.tituloAll {
  font-size: x-large;
}

.boton-ver-detalles {
  background-color: rgb(179, 146, 27);
  border: none;
  justify-content: center;
}
